@model List<BeachTowelShop_App.Areas.Admin.Models.ProductViewModel>
@{
    ViewData["Title"] = "UploadItem";
}
<div class="container admin">
    
    <form method="post" enctype="multipart/form-data">
        <h2>Add a design</h2>
        <input type="file" name="pic" accept="image/*" multiple>
        <label for="name">Name of the product</label>
        <input type="text" name="name" value="" />
        <label for="productDescription">Description</label>
        <br />
        <textarea id="productDescription" name="productDescription"></textarea>
        <br />
        <label for="categories">Categories with ";" delimeter</label>
        <input type="text" name="categories" value="" pattern="[A-Za-z0-9 ]+;" />
        <div class="buttons">
            <button type="submit" asp-controller="Admin" asp-action="CreateItem">Create product</button>
        </div>

    </form>
    <h2>Designes:</h2>
    <div id="gallery">
        @foreach (var item in Model)
        {
        <div class="item">
            <div class="picture">
                @foreach (var pic in item.PictureList)
                    {
                <a asp-controller="Admin" asp-action="Item" asp-route-id="@item.Id"> <img src="~/@pic.Path" alt="" class="gallery__img"></a>
                    }

            </div>
            <h2>@item.Name</h2>

            <div class="gallery-buttons">
                <a asp-controller="Admin" asp-action="Item" asp-route-itemid="@item.Id"> <i class="fas fa-plus-square fa-lg"></i> See more</a>
            </div>
        </div>
        }


    </div>
</div>